.btn-modal-add{
    color: #FFF;
    background-color: #1c4c23;
    padding: 0.5rem;
    border: none;
    border-radius: 2px;
    font-family: Quicksand;
    font-weight: 900;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
  
     &:hover{
       background-color: white;
       color: #1c4c23;
       font-weight: 900;
     }
}

.btn-cancel{
 color: #FFF;
 background-color: #939593;
 padding: 0.5rem;
 border: none;
 border-radius: 2px;
 font-family: Quicksand;
 font-weight: 900;
 font-size: 0.8rem;
 cursor: pointer;
 text-decoration: none;

  &:hover{
    background-color: white;
    color: gray;
    font-weight: 900;
  }
}

.add-state-active, .add-state-hidden{
    position: relative;
    top: -30rem;
}

.add-state-active{
    background-color: rgb(29, 182, 2);;
    color: white;
    margin-left: 16.2rem;
    padding: 0.2rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 900;
}

.add-state-hidden{
    background-color: rgb(216, 13, 13);
    color: white;
    margin-left: 16rem;
    padding: 0.2rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 900;
}

